POSTGRES_USER=leadar
POSTGRES_PASSWORD=
BACKEND_DB_PASSWORD=
BOT_DB_PASSWORD=

RABBITMQ_DEFAULT_USER=leadar
RABBITMQ_DEFAULT_PASS=

# postgresql://leadar:<POSTGRES_PASSWORD>@database:5432/postgres?sslmode=disable
DATA_SOURCE_NAME=
